
@{
    ViewData["Title"] = "ImportExcel";
}

<h1>Import Category</h1>
<form asp-action="ImportExcel" enctype="multipart/form-data">
    <input type="file" name="myFile" />
    <button class="btn btn-success">Import</button>
</form>

