@model Models.ProductModel

@{
    ViewData["Title"] = "Create";
}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">

<h1>Create</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="CreateProduct" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control d-none" />
                <input type="file" name="fHinh" id="fHinh" class="form-control" />
                <br />
                <img id="imagePreview" width="300" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="@ViewBag.Supplier"></select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Category"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSave" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <script>
        $(function () {
            $("#CreateProduct").validate({
                rules: {
                    fHinh: {
                        required: true,
                        extension: "png|jpg|gif"
                    }
                },
                messages: {
                    fHinh: {
                        required: "*",
                        extension: "Chỉ chọn file png|jpg|gif"
                    }
                }
            });

            $("#btnSave").click(function () {
                if ($("#CreateProduct").valid()) {
                    $("#CreateProduct").submit();
                }
            });

            $('#Description').summernote({
                tabsize: 2,
                height: 150
            });

            $("#fHinh").change(function () {
                if (this.files && this.files[0]) {
                    var imageData = new FileReader();

                    imageData.onload = function (e) {
                        $("#imagePreview").attr("src", e.target.result);
                    }

                    imageData.readAsDataURL(this.files[0]);
                }
                else {
                    $("#imagePreview").attr("src", "");
                }
            });
        });

    </script>
}
